.form-section{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 700px
}
.input{
    height: 70px;
    width: 350px;
    padding:10px;
    border: 2px solid #525252;
    border-radius:5px;
    font-size:3rem;
    color:#525252
}
.result{
    margin-top:50px;
    font-size:3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#525252
}
.turn-back{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:50px;
    color:#525252
}